*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
//body
body{
    background-image: url("/assets/img/background\ img.jpeg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
//Navbar
nav{
    background-color: rgb(253, 242, 242);
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.9);

    img{
        width: 130px;
        height: 130px;
        border-radius: 100%;
        padding: 20px;
    }
}
//dives
.d1{
    background-color: rgba(108, 74, 74, 0.6);
    background-blend-mode: darken;
    width: 330px;
    height: 100%;
    position: fixed;
    display: none;
}
.d2{
        font-size: 80px;
        padding: 20px;
        .i1{
            &:hover{
                color: black;
                transition: 0.5s;
            }
        }
}
.d3{
        &:hover{
            background-color: black;
            border-radius: 10px;
        }
}
.d4{
        &:hover{
            background-color: black;
            border-radius: 10px;
           
        }
}
.d5{
        &:hover{
            background-color: black;
            border-radius: 10px;
        }
}
.d6{
        &:hover{
            background-color: black;
            border-radius: 10px;
        }
}
.d7{
        &:hover{
            background-color: black;
            border-radius: 10px;
        }
}